<!DOCTYPE html ng-app="currencyJa">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="currencyJa"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Currency Jamaica</title>
    <meta name="description" content="A simple way to keep track of how much the JMD is being traded for and where to get the best price.">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <h1>Currency Jamaica</h1>
    </header>
    <section class="page container">
      <%= yield %>
    </section>
    <footer>
      <hr />
      <p>Last Updated: <time datetime='<%= last_update %>'> <%= pretty_last_update %></time></p>
      <p><strong>Disclaimer:</strong> Exchange rates are subject to change without notice by each institution. This data is just for informational use only.</p>
      <p>An <a href="http://github.com/kenrick/currencyja">Open Source</a> Project By: <a href="http://kenrick.me"> Kenrick Beckett </a>.</p>
      <p>An API is also avaliable see the <a href="http://kenrick.me/currencyja">docs</a></p>
    </footer>

    <%= Gon::Base.render_data({}) %>
    <%= javascript_include_tag 'application' %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41270904-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
